.Album img {
  width: 50px;
  margin: 3px;
  float: left;
}


.Album img:nth-child(2) {
  width: 162px;
}
.Gallery {
  text-align: center;
  margin: 0 8%;
  border: 3px solid rgb(10, 1, 1);
  border-radius: 13px;
  background-color: rgb(11, 140, 245);
  
}
.Album {
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 280px;
  background-color: rgb(31, 13, 13);
  transition: all 0.3s;
}
.Album:hover{
  background-color: rgb(28, 121, 15);
  transform: translateY(-10px);
}
.Album a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(141, 140, 143);
}
.Album h4::first-letter {
  text-transform: uppercase;
  
}
