.home-container {
  padding: 20px;
  color: aliceblue;
}

.photo-carousel {
  margin-bottom: 50px;
  text-align: center;
}

.photo-carousel img {
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  width: 45%;
}
.post-item {
  border-radius: 12px;
  padding: 10px;
  margin: 5px 10px;
  background-color: rgb(63, 64, 78);
}

.latest {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
}

.latest-posts {
  box-shadow: 0px 0px 10px rgb(150, 10, 45);
  border-radius: 10px;
  cursor: pointer;
  padding: 23px;
}
.latest-posts h3 {
  text-align: center;
}

.latest-albums {
  box-shadow: 0px 0px 10px rgb(23, 36, 110);
  border-radius: 10px;
  cursor: pointer;
  grid-column: 3;
  text-align: center;
}
.latest-albums .Album {
  transform: scale(0.9);
  margin: 0;
  padding: 0;
}
.latest-albums:hover,
.latest-posts:hover {
  background-color: rgba(104, 103, 103, 0.185);
}
.latest-posts h1 {
  margin-bottom: 8px;
  font-size: 1.2em;
  color: orange;
  margin-left: 20px;
}

.latest-posts h2 {
  margin-bottom: 16px;
  font-size: 1em;
}
