.home-container {
  padding: 20px;
  color: aliceblue;
}

.photo-carousel {
  margin-bottom: 30px;
  text-align: center;
}

.photo-carousel img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.latest-posts {
  h3 {
    margin-bottom: 10px;
  }

  .post-item {
    margin-bottom: 20px;

    h4 {
      margin-bottom: 5px;
    }
  }
}
