.register-container {
  background-color: rgb(11, 140, 245);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
}

.register-container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.register-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
}

.register-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
}

.register-container button:hover {
  background-color: rgb(28, 121, 15);
  transform: translateY(-10px);
}

.register-container .form-group {
  margin-bottom: 20px;
}

.register-container .register-link {
  text-align: right;
  margin: 10px;
  color: blue;
}
